// @import url('');

// Main Color Pallete

$blackmain: #121212;
$redmain: #E73336;
$graymain: #B8B8B8;
$whitemain: #F5F5F5;
$lightgray: rgb(244, 244, 244);
// Fonts

// $mainfont:
// $subfont: 
// $fonts-default: Arial, Helvetica, sans-serif;